@use "../util" as u;

.main-section {
  @include u.breakpoint(medium) {
    display: flex;
    gap: 50px;
  }
  .bright-future {
    max-width: 700px;
    &__text-content {
      @include u.breakpoint(medium) {
        display: flex;
        gap: 3rem;
        margin-block-start: 30px;
      }

      .heading-text {
        h1 {
          margin-block: 10px;
          @include u.breakpoint(medium) {
            margin-block: 0;
          }
        }
      }
      .main-text {
        p {
          margin-block-end: 30px;
        }
        @include u.breakpoint(medium) {
          max-width: 350px;
        }
        a {
          display: inline-block;
          padding: 10px 50px;
          background-color: var(--Soft-red);
          color: var(--Off-white);
        }
      }
    }
  }

  .new-section {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-block-start: 30px;
    @include u.breakpoint(medium) {
      margin-block-start: 0;
    }

    h2 {
      color: var(--Soft-red);
      margin-block-start: 30px;
    }

    h3 {
      color: var(--Off-white);
    }

    .hydrogen-electric-cars {
      border-bottom: 1px solid var(--Off-white);

      p {
        margin-block: 10px;
      }
    }

    .ai-artistry {
      border-bottom: 1px solid var(--Off-white);

      p {
        margin-block: 10px;
      }
    }
  }
}
